:root {
  --bar-height: 6px;
}

*:focus {
  outline: 0 !important;
}

html, body {
  min-height: 100% !important;
  margin: 0;
}

body {
  box-sizing: border-box;
  background-color: #C3C8CD;
}

.player-container {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center
}

.music-player {
  max-width: 350px;
  border-radius: 20px;
  background-color: #e7e7e7;
  text-align: center;
  padding-bottom: 10px;
}

.progress-b {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  margin: auto;
  margin-bottom: 25px;
}

.progress-bar {
  position: relative;
  width: 100%;
  background-color: rgb(253, 253, 253);
  border-radius: 3px;
  cursor: pointer;
  height: var(--bar-height);
}

.now {
  position: absolute;
  left: 0;
  display: inline-block;
  height: var(--bar-height);
  background: #0c0c0c;
  border-radius: 3px;
}


button {
  border: none;
  background-color: #e7e7e7;
  cursor: pointer;
}

img {
  position: relative;
  bottom: 30px;
  border-radius: 20px;
  max-width: 70% !important;
}

.duration {
  display: flex;
  justify-content: space-between;
  width: 95%;
  margin: auto;
}

input {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.disabled {
  color: rgb(0, 0, 0, 0.3) !important;
  cursor: default;
}